.wrapper
  =render partial:'layouts/subheader'
  .buy-container
    .buy
      .buy__head
        %h2
          購入内容の確認
      .productinfo-container
        .productinfo
          =image_tag asset_path(@item.images[0].image),alt:"商品画像"
          .productinfo__product-name
            %p
              = @item.name
          .productinfo__price
            %p
              ¥
              = @item.price
            %span
              = @shipping
          .productinfo__point
            %span
              ポイントはありません
          .productinfo__payprice
            .cell
              %span
                支払金額
            .cell
              %span
                ¥
                = @item.price
          =link_to '購入する', purchase_buy_index_path, class: "productinfo__buybtn", method: :post
      .address-container    
        .address
          %h3
            配送先
          .address__text
            = @postal
            %br
            = @address
            %br
            = @fullname
            
          .address__changelink
            =link_to '変更する','#'
      .pay-method-container
        .pay-method
          %h3
            支払方法
          .pay-method__text
            = "**** **** **** " + @card_information.last4
            %br
            - exp_month = @card_information.exp_month.to_s
            - exp_year  = (@card_information.exp_year - 2000).to_s
            = exp_month + "/" + exp_year
            %br
            =image_tag asset_path("card_image_visa.jpg")
          .pay-method__changelink
            =link_to '変更する','#'
  =render partial: 'layouts/subfooter'