= render 'signup/shared/signup-head'
.single-container
  %header.single-header
    %h1
      = link_to "/" do
        = image_tag "mercari_logo.png", class: 'single-header__logo'
    %nav.progress
      %ul.progress__bar
        %li.active
          会員情報
          .progress-status.active
          .progress-status-line.active
        %li.active
          電話番号認証
          .progress-status.active
          .progress-status-line.active
        %li.active
          お届け先住所入力
          .progress-status.active
          .progress-status-line.active
        %li.payment.active
          支払い方法
          .progress-status.active
          .progress-status-line
        %li.complete
          完了
          .progress-status


  .single-main
    .new-registration
      .new-registration-container
        .new-registration-container__header
          %h2.new-registration-container__header--word 会員情報入力
        .new-registration-container__body
          -# 会員情報入力form_for
          = form_with model: @user, url: '/signup',local: true, class: 'new-registration-field' do |f|
            .new-registration-body-upper
              .new-registration-field__group
                = f.label :カード番号, class: 'new-registration-field__group--name'
                = f.label :必須, class: 'new-registration-field__group--require'
                = f.text_field :card_number, class: 'new-registration-field__group--input-default', placeholder: '半角数字のみ'
              .cards-icon
                = image_tag "card_image_visa", class: 'cards-icon__part'
                = image_tag "card_image_jcb", class: 'cards-icon__part'
                = image_tag "card_image_mastercard", class: 'cards-icon__part'
              .new-registration-field__group
                %div
                  = f.label :有効期限, class: 'new-registration-field__group--name'
                  = f.label :必須, class: 'new-registration-field__group--require'
                  
                -# クレジットカードモデルプロパティ名とタグ情報enumで記述
                .card-select
                  %i.card-select__icon.fas.fa-chevron-down
                  = f.select :credit_card_month, [*01..12],{}, {class: 'card-select__part'}
                  %span 月
                .card-select
                  %i.card-select__icon.fas.fa-chevron-down
                  = f.select :credit_card_year, [*19..24],{}, {class: 'card-select__part'}
                  %span 年
              .new-registration-field__group
                = f.label :セキュリティコード, class: 'new-registration-field__group--name'
                = f.label :必須, class: 'new-registration-field__group--require'
                = f.text_field :security_code, class: 'new-registration-field__group--input-default', placeholder: 'カードの背面4桁もしくは4桁もしくは3桁の番号'

              .back-of-the-number
                %p
                  %i.icon-arrow-right.fas.fa-question-circle
                  = link_to 'カード裏面の番号とは？', "#"
              = form_with model: @user, url: '/signup', local: true, class: 'new-registration-field' do |f|
                = f.submit '次へ進む', class: 'btn-default-red'
= render 'signup/shared/signup-footer'