.contents-container
  %main.product-container
    .product
      %h1.product__name
        テスト
      .product__info
        %figure.product__image
          //SwiperSlide
          .product__image--large
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
          .product__image--small
            = image_tag asset_path('member.jpg'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
            = image_tag asset_path('bannartop.png'), alt: '商品テスト画像'
        %table.product__detail
          %tr
            %th
              出品者
            %td
              テストおおおおおおおおおおおおおおおおおおお
          %tr
            %th
              カテゴリー
            %td
              テストおおおおおおおおおおおおおおおおおおおお
          %tr
            %th
              ブランド
            %td
          %tr
            %th
              商品の状態
            %td
          %tr
            %th
              配送料の負担
            %td
          %tr
            %th
              配送の方法
            %td
          %tr
            %th
              配送元の地域
            %td
          %tr
            %th
              発送日の目安
            %td
          
          
      .product__price-box
        %span.product__price
          ¥3,300
        %span.product__tax
          (税込)
        %span.product__fee
          送料込み
      .product__buy-btn
      .product__explanation

//SwiperSlideScript
:javascript
  var slider = new Swiper ('#slider', {
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev'
  })
  var thumbs = new Swiper('#thumbs', {
    centeredSlides: true,
    spaceBetween: 10,
    slidesPerView: "auto",
    touchRatio: 0.2,
    slideToClickedSlide: true
  });
  slider.params.control = thumbs;
  thumbs.params.control = slider;
    