= render partial: 'layouts/main-header'
- breadcrumb :card
= breadcrumbs separator: " &rsaquo; "

.contents-container
  %main.mypage-container
    = render partial: 'layouts/sidebar'
    .add-card-contents
      %h2.add-card-contents__header
        支払い方法
      .add-card-contents__main
        %h3.add-card-contents__main--title
          クレジットカード一覧
        -# =link_to "クレジットカードを追加する", root_path, class: "btn-card"
        =link_to new_card_path, class: "btn-card" do
          %i.fas.fa-credit-card.btn-card-icon
          クレジットカードを追加する 

      .add-card-contents__footer
        .about-paymant-method
          %p
            = link_to '支払い方法について', "#"
            %i.icon-arrow-right.fas.fa-chevron-right
        
= render partial: 'layouts/main-footer'