= render 'signup/shared/signup-head'
.single-container
  %header.single-header
    %h1
      = link_to "/" do
        = image_tag asset_path("mercari_logo.png"), class: 'single-header__logo'
  .single-main
    .new-registration
      .new-registration-container
        .login-panel
          .login-panel__new-registration
            %p アカウントをお持ちでない方はこちら
            =link_to '新規会員登録', '/', class: 'btn-login'
          .login-panel__login-methods
            =link_to '/', class: 'btn-sns btn-sns__facebook' do
              %i.fab.fa-facebook-square.fa-2x.btn-sns__icon
              Facebookでログイン
            =link_to '/', class: 'btn-sns btn-sns__google' do
              =image_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_"G"_Logo.svg/512px-Google_"G"_Logo.svg.png', class: 'btn-sns__icon-google'
              Googleでログイン
          =form_with url: root_path, local: true, class: 'login-panel__form' do |f|
            .login-input-form
              = f.text_field :email, class: 'login-input-form__part margin-top-zero', placeholder: 'メールアドレス'
            .login-input-form
              = f.text_field :password, class: 'login-input-form__part', placeholder: 'パスワード'
            .login-input-form
              recaptch
            =f.submit "ログイン", class: 'btn-default-red'
            =link_to 'パスワードをお忘れの方', '/', class: 'password-forget-tips'


= render 'signup/shared/signup-footer'