= render partial: 'layouts/main-header'
- breadcrumb :card
= breadcrumbs separator: " &rsaquo; "

.contents-container
  %main.mypage-container
    = render partial: 'layouts/sidebar'
    .add-card-contents
      %h2.add-card-contents__header
        支払い方法
      .add-card-contents__main
        %h3.add-card-contents__main--title
          = form_with url: card_path ,method: :post, class: 'new-registration-field', html: {name: "inputForm"} do |f|
            .new-registration-body-upper
              .new-registration-field__group
                = f.label :カード番号, class: 'new-registration-field__group--name'
                = f.label :必須, class: 'new-registration-field__group--require'
                = f.text_field :card_number, class: 'new-registration-field__group--input-default', placeholder: '半角数字のみ'
              .cards-icon
                = image_tag asset_path("card_image_visa"), class: 'cards-icon__part'
                = image_tag asset_path("card_image_jcb"), class: 'cards-icon__part'
                = image_tag asset_path("card_image_mastercard"), class: 'cards-icon__part'
              .new-registration-field__group
                %div
                  = f.label :有効期限, class: 'new-registration-field__group--name'
                  = f.label :必須, class: 'new-registration-field__group--require'
                  
                -# クレジットカードモデルプロパティ名とタグ情報enumで記述
                .card-select
                  %i.card-select__icon.fas.fa-chevron-down
                  = f.select :exp_month, [*01..12],{}, {class: 'card-select__part'}
                  %span 月
                .card-select
                  %i.card-select__icon.fas.fa-chevron-down
                  = f.select :exp_year, [*19..30].map{|year| ["#{year}", year+2000]},{}, {class: 'card-select__part'}
                  %span 年
              .new-registration-field__group
                = f.label :セキュリティコード, class: 'new-registration-field__group--name'
                = f.label :必須, class: 'new-registration-field__group--require'
                = f.text_field :cvc, class: 'new-registration-field__group--input-default', placeholder: 'カードの背面4桁もしくは4桁もしくは3桁の番号'

              .back-of-the-number
                %p
                  %i.icon-arrow-right.fas.fa-question-circle
                  = link_to 'カード裏面の番号とは？', "#"
                #card_token
                = f.submit '追加する', class: 'btn-default-red', id: 'token_submit'
        

      .add-card-contents__footer
        .about-paymant-method
          %p
            = link_to '支払い方法について', "#"
            %i.icon-arrow-right.fas.fa-chevron-right
        
= render partial: 'layouts/main-footer'