!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http:{equiv: "Content-Type"}}/
    %title FreemarketSample54c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-wrap
        .header-upper
          .header-upper__logo
            = embedded_svg("logo-acdd90ac4f472d5a6f7a330d33ab1225.svg")      
          .header-upper__search-field
            =form_with url: root_path,html: {class: 'formclass'} do |f|
              =f.label :search
              =f.text_field :search
              %i.fa.fa-search
        .header-lower
          .header-lower-left
            .header-lower-left__category-search
              =link_to root_path do
                %i.fa.fa-list-ul
                %span カテゴリーから探す
            .header-lower-left__brand-search
              =link_to root_path do
                %i.fa.fa-tag
                %span ブランドから探す
          .header-lower-right
            .header-lower-right__signup
              =link_to root_path do
                %span 新規会員登録
            .header-lower-right__login
              =link_to root_path do
                %span ログイン
    = yield

  %footer.footer-wrap
    %nav.footer-upper
      .footer-upper__navigationcell
        %h2
          メルカリについて
        %ul
          %li
            会社情報(運営会社)
          %li
            採用情報
          %li
            プレスリリース
          %li
            公式ブログ
          %li
            メルカリロゴ利用ガイドライン
        
        %i.fab.fa-twitter.fa-2x
        %i.fab.fa-facebook-square.fa-2x
            
      .footer-upper__navigationcell
        %h2
          ヘルプ&ガイド
        %ul
          %li
            メルカリガイド
          %li
            らくらくメルカリ便
          %li
            ゆうゆうメルカリ便
          %li
            大型メルカリ便
          %li
            車体取引ガイド
          %li
            メルカリあんしん・あんぜん宣言！
          %li
            偽ブランド品撲滅への取り組み
          %li
            メルカリボックス
      .footer-upper__navigationcell
        %h2
          プライバシーと利用規約
          .ul-wrap
            %ul.leftul
              %li
                プライバシーポリシー
              %li
                メルカリ利用規約
              %li
                あんしんスマホサポート制度に関する利用規約
              %li
                コンプライアンスポリシー
            %ul.rightul
              %li
                個人データの安全管理に関わる基本方針
              %li
                特定商取引に関する表記
              %li
                資金決済法に基づく表示
              %li
                法令遵守と犯罪抑止のために
      .footer-upper__navigationcell
        %h2
          国
          %ul
            %li
              日本
            %li
              United States
    .footer-lower
      = embedded_svg('logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg')
      %span
        © 2019 Mercari